{% extends "site_base.html" %}

{# An example chat window #}

{% block head_title %}Chat{% endblock %}

{% block extra_head %}
<!-- Load the JS for the chat window and start retrieving messages. -->
<script type="text/javascript" src="/static/jqchat/jqchat.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		InitChatWindow("{% url jqchat_ajax room.id %}", null);
		InitRating();
	});
</script>
<style type="text/css">
	/* Example styling for the chat window */
   #chatwindow {
     height: 250px;
     width: 400px;
     border: 1px solid;
     padding: 5px;
     margin: 10px 0;
     overflow: auto;
     background-color: white;
   }
</style>
{% endblock %}

{% block body %}
<!--
<div id="chat_left_col">
	<h1>Chattr</h1>
	<p>This is a demo of the <a href="http://code.google.com/p/django-jqchat/">
	django-jqchat chat client</a>.</p>
	<p>This page shows the basic client. For an example of how to extend it,
	<a href="{% url jqchat_test_window_with_description room.id %}">see here</a>.</p>
	<p>There are 2 rooms in this demo,
	<a href="{% url jqchat_test_window 1 %}">here</a> and 
	<a href="{% url jqchat_test_window 2 %}">here</a>.</p>
</div>
-->

<!--<h2>You are chatting with someone who is interested in:<br />{{ room }}</h2>-->
<form id="ratingform">
	<label for="rating">Rate this user (1 = troll, 5 = awesome):</label>
	<input type="radio" name="rating" value=1 />1
	<input type="radio" name="rating" value=2 />2
	<input type="radio" name="rating" value=3 />3
	<input type="radio" name="rating" value=4 />4
	<input type="radio" name="rating" value=5 />5
	<input type="submit" value="Submit rating" /><br />
</form>

<div id="chatwindow"><span id="loading">Loading...</span></div>

<form id="chatform">
	<label for="msg">Message:</label>
	<input type="text" id="msg" />
	<input type="submit" value="Send message" /><br />
</form>

<a href="/end_chat/"><button>End Chat</button></a>

<script type="text/javascript">document.getElementById("msg").focus();</script>

{% endblock %}
