{% extends "site_base.html" %}

{% block head_title %}Login{% endblock %}

{% block body %}
	{{ state }}
	<form action="/login/" method="post">
		{% if next %}
		<input type="hidden" name="next" value="{{ next }}" />
		{% endif %}
		username:
		<input type="text" name="username" value="{{ username}}" /><br />
		password:
		<input type="password" name="password" value="" /><br />

		<input type="submit" value="Log In" />
	</form>
	<p>Don't have an account? <a href="/register">Register!</a></p>
{% endblock %}