{% extends "site_base.html" %}

{# An example chat window #}

{% block head_title %}Chattr{% endblock %}

{% block extra_head %}
{% endblock %}

{% block body %}
<h1>Welcome to Chattr!</h1>

<p>Chattr is a anonymous semi-random chat site that can match you with conversation partners based on your interests.</p>

<p><a href="/login/">Log in</a> or <a href="/register/">register</a> to chat using interests!</p>
<p>Or <a href="http://www.youtube.com/watch?v=oHg5SJYRHA0">chat anonymously</a> if you don't want to create an account!</p>

{% endblock %}